.div-home {
  width: 100%;
  height: 90vh;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}
.text-home {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-home > h2 {
  font-size: 33px;
  font-weight: 600;
}
.text-home > p {
  font-size: 18px;
}
#link-Link {
  width: 200px;
  background: #000;
  border: 1px solid black;
  color: aliceblue;
  padding: 8px 18px;
  margin-top: 10px;
  text-align: center;
}
#link-Link:hover {
  border: 1px solid black;
  background: white;
  color: #000;
}

.photo-home {
  width: 50%;
  position: relative;
}
.photo-home > img {
  position: absolute;
  bottom: 0;
  background: #000;
  height: 80vh;
  width: 80%;
}

.loading-service {
  height: 90vh;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.loading-service > h1 {
  font-size: 38px;
  font-weight: 700;
  height: 40%;
  display: flex;
  align-items: center;
}
.loading-service > p {
  height: 50%;
  width: 60%;
  margin: 0 20%;
  display: flex;
  text-align: center;
}
.loading-service > button {
  padding: 5px;
  position: absolute;
  border: 1px solid black;
  bottom: 0;
  margin-bottom: 80px;
  border-radius: 50%;
}
.loading-service > button:hover {
  border: 5px solid black;
}

.title-about {
  font-size: 30px;
  font-weight: 600;
  border: 0.2px solid black;
  width: auto;
  margin: 10px 0;
  padding: 5px 10px;
}
.divTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apply-div {
    background-color: #7e7e7e80;
}
.apply-div ul{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 20px;
}
.apply-div > ul > h1 {
  font-size: 33px;
  display: flex;
    align-items: center;
    justify-self: center;
  font-weight: 700;
  margin-top: 20px;
  border: 0.2px solid black;
  padding: 5px 10px;
  width: auto;
  margin-bottom: 70px;
}
.apply-div > ul >div{
    width: 80vw;
}
.apply-div > ul >main{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    height: 40vh;
}
.apply-div > ul >main>img{
  width: 25%;
  border: 1px solid black;
  background-color: #000000;
  min-height: 400px;
}
.apply-div > ul >main>p{
  font-size: 18px;
  width: 40%;
}